* {
    border: 1px dotted red;
    box-sizing: border-box; /* importante esta propiedad*/
}
body {
    margin: 0;
}

h1{
    font-size: 38px;
    text-align: center;
}
section hgroup {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
section img {
    max-width: 150px;
}

@media (min-width: 567px ) {
    h1 {
        font-size: 32px;
        text-align: left;
    }
}
/* Mobile First */
.container {
    /*Mobile*/
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
 /*establece el breackpoint para el siguiente dispositivo con ando de mas de 567px*/   
}
.bg-cupcakes {
    background-image: url(./images/background.jpg);
}
.cupcake-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
    color: white;
    padding: 4rem 0;
    
}
.card.card-features {
    flex-basis: 16%;
}
.image {
    flex-basis: 48%;
}
.card-image {
    max-width: 12rem;
    width: 100%;
    margin: 0 auto;
    display: block;
}
.card-title {
    font-size: 2rem;
    text-align: center;
}
.card-description {
    font-size: 1.1rem;
    line-height: 1.4;
    text-align: center;
}
.card.card-features {
    flex-basis: 21%;
}

@media  ( min-width: 567px ) {
    .container {
        max-width: 540px;   
    }
    
}
@media ( min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .image {
        flex-basis: 22%;
    }
}
@media ( min-width: 992px) {
    .container{
        max-width: 960px;
    }
}

@media ( min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media ( min-width : 1400px){
    .container {
        max-width: 1320px;
    }
}

.main-content .container :not(p) {
    color: green ;
}
.container {
    flex-wrap: wrap;
}



.image-cupcakes {
    max-width: 100%;
    border-radius: 1rem;
}

.background-1 {
    background-image: url( '/images/background.jpg' );
}



.features-cupcakes {
    font-family: 'Merienda';
    background-image: url( '../images/background.jpg' );
}
.bg-cupcakes {
    padding: 5rem 0 6rem 0;
}
.bg-bottom-mask {
    color: white;
    text-align: center;
}

.card.card-features {
    flex-basis: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.cupcake-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    width: 80%;
    margin: 0 auto;
}
.cupcake-transparency {
    max-width: 80%;
    width: 100%;
}
.card-title {
    margin: 1.6rem 0 0.6rem 0;
    font-size: 1.6rem;
}
.card-description {
    line-height: 1.4;
}
.btn-cupcake {
    color: #4B4342;
    background: white;
    padding: 0.8rem 0.2rem;
    font-size: 2rem;
    border-radius: 3rem;
    margin: 0.5rem 0;        
}
.btn-cupcake:hover {
    background-color: #4B4342;
    color: white;
}
.border-brown {
    border: 3px solid #4B4342;
    border-radius: 2rem;
    padding: 0.4rem 3rem;
}
.border-brown:hover {
    border: 3px solid white;
}

@media ( min-width: 567px ) {
    .card.card-features {
        flex-basis: 43%;
    }
    .features-cupcakes {
        background-repeat: no-repeat;
    }
    .cupcake-list {
        margin: 0 auto 2rem auto;
    }
}
@media ( min-width: 768px ) {
    
}
@media ( min-width: 992px ) {
    .card.card-features {
        flex-basis: 19%;
    }
}

.card.card-features {
    background: transparent;
}